@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
      @return $number / ($number * 0 + 1);
  }
  
  @return $number;
}

@function min($number1, $number2) {
  @if strip-unit($number1) < strip-unit($number2) {
    @return $number1;
  }

  @return $number2;
}

@function max($number1, $number2) {
  @if strip-unit($number1) > strip-unit($number2) {
    @return $number1;
  }

  @return $number2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 0.015 * 100vw;
}

h1 {
  margin: 0.02 * 100vw 0;
  font-size: 0.02 * 100vw;
}

.button-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 0.015 * 100vw;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.05);

  select {
    padding: 5px;
    margin: 0.01 * 100vw;
    font-size: 0.01 * 100vw;

    &:hover {
      cursor: pointer;
    }
  }

  button {
    font-size: 0.015 * 100vw;;
    border: 1px solid black;
    margin: 0.01 * 100vw 0.02 * 100vw;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
    }
  }
}

#choose-project-list {
  position: absolute;
  left: 0.015 * 100vw;
  transform: translateY(-50%);
}

.form-wrapper-project,
.form-wrapper-activity {
  position: absolute;
  top: 300px;
  left: 50%;
  z-index: 333;
  
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  transform: translateX(-50%);

  .close-form {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    
    span {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      border-top: 2px solid red;
    }

    span:nth-of-type(1) {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    
    span:nth-of-type(2) {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.add-project,
.add-activity {
  display: flex;
  flex-direction: column;

  label {
    margin: 70px auto 40px auto;
  }

  input,
  select {
    padding: 5px;
    margin: 20px 50px;
    font-size: 25px;
  }

  input[type="submit"]{
    font-size: 30px;
    border: 1px solid black;
    margin: 20px 50px;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
    }
  }
}

.edit-button,
.delete-button {
  font-size: 0.012 * 100vw;
  border: 1px solid black;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
  }
}

table, th, td {
  border: 1px solid black;
}

th {
  padding: 0.015 * 100vw;
  color: rebeccapurple;
}

td {
  padding: 0.015 * 100vw;
}

.hide {
  transform: translateY(-2000px);
}

.high {
  color: red;
}

.low {
  color: rgb(0, 204, 255);
}

.normal {
  color: green;
}

.finished {
  color: blue;
}

.unfinished {
  color: maroon;
}